<h1><%= @user.username %></h1>
<%= gravatar_for @user, size: 150 %>
<h4><%= @user.username %></h4>
<%= will_paginate @user_posts %>
<%= render 'posts/post', obj: @user_posts %>
<%= will_paginate @user_posts %>